<div class="page-header">
    <h2>Main</h2>
</div>
<form>
    <div class="form-group">
        <button type="button" class="btn btn-danger" ng-click="ctrl.access()">Access protected area</button>
    </div>
</form>