<div class="page-header">
    <h2>Registration</h2>
</div>

<div class="col-md-4 col-md-offset-4">
    <div class="alert" ng-class="ctrl.status ? 'alert-success' : 'alert-danger'" ng-show="ctrl.showMessage">
        <strong>{{ctrl.message}}</strong>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>Registration</h4>
        </div>
        <div class="panel-body">
            <form name="form" ng-submit="form.$valid && ctrl.register()" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="ctrl.account.name" minlength=2 required>
                    </div>
                    <div ng-show="form.name.$touched || form.$submitted">
                        <div class="validation" ng-show="form.name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Name is mandatory.
                        </div>
                        <div class="validation" ng-show="form.name.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Name should be at least 2 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="Email" ng-model="ctrl.account.email" required>
                    </div>
                    <div ng-show="form.email.$touched || form.$submitted">
                        <div class="validation" ng-show="form.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                        </div>
                        <div class="validation" ng-show="form.$error.email">
                            <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password" ng-model="ctrl.account.password" minlength=2
                            required>
                    </div>
                    <div ng-show="form.password.$touched || form.$submitted">
                        <div class="validation" ng-show="form.password.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Password is mandatory.
                        </div>
                        <div class="validation" ng-show="form.password.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Password should be at least 2 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password2" placeholder="Confirm password" ng-model="ctrl.account.password2"
                            required>
                        <div ng-show="form.password2.$touched || form.$submitted">
                            <div class="validation" ng-show="form.password2.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Confirm password is mandatory.
                            </div>
                            <div class="validation" ng-show="ctrl.account.password != ctrl.account.password2">
                                <span class="glyphicon glyphicon-alert"></span> Passwords do not match.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success form-control" ng-disabled="form.$invalid || ctrl.status" value="Register">
                </div>
            </form>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="login">Login</a> or <a ui-sref="resetpassword">reset password</a>             
            </small>
        </div>
    </div>
</div>